In [1]:
import pandas as pd
import yfinance as yf

In [4]:
banknifty = yf.download("^NSEBANK",period='5y', interval='1d')

[*********************100%***********************]  1 of 1 completed

In [5]:
banknifty

Price              Close          High           Low          Open   Volume
Ticker          ^NSEBANK      ^NSEBANK      ^NSEBANK      ^NSEBANK ^NSEBANK
Date
2021-01-12  32338.625000  32397.573535  31725.481719  31834.681625        0
2021-01-13  32574.271484  32683.119828  32147.876054  32546.221029        0
2021-01-14  32519.371094  32718.567992  32441.971605  32526.320232        0
2021-01-15  32246.425781  32544.422316  32043.976964  32508.522343        0
2021-01-18  31811.380859  32441.123552  31650.533116  32274.775873   396800
...                  ...           ...           ...           ...      ...
2026-01-06  60118.398438  60305.000000  59844.800781  59957.800781   295400
2026-01-07  59990.851562  60065.398438  59760.648438  60039.699219   376300
2026-01-08  59686.500000  60112.851562  59564.800781  59893.148438   312900
2026-01-09  59251.550781  59739.648438  59154.199219  59558.148438   272500
2026-01-12  59450.500000  59541.101562  58864.199219  59217.250000        0

[1231 rows x 5 columns]

In [6]:
banknifty = banknifty.reset_index()
banknifty['Range'] = banknifty['High'] - banknifty['Low']

In [7]:
banknifty

Price,Date,Close,High,Low,Open,Volume,Range
Ticker,,^NSEBANK,^NSEBANK,^NSEBANK,^NSEBANK,^NSEBANK,
0,2021-01-12,32338.625000,32397.573535,31725.481719,31834.681625,0,672.091816
1,2021-01-13,32574.271484,32683.119828,32147.876054,32546.221029,0,535.243774
2,2021-01-14,32519.371094,32718.567992,32441.971605,32526.320232,0,276.596387
3,2021-01-15,32246.425781,32544.422316,32043.976964,32508.522343,0,500.445352
4,2021-01-18,31811.380859,32441.123552,31650.533116,32274.775873,396800,790.590435
...,...,...,...,...,...,...,...
1226,2026-01-06,60118.398438,60305.000000,59844.800781,59957.800781,295400,460.199219
1227,2026-01-07,59990.851562,60065.398438,59760.648438,60039.699219,376300,304.750000
1228,2026-01-08,59686.500000,60112.851562,59564.800781,59893.148438,312900,548.050781
1229,2026-01-09,59251.550781,59739.648438,59154.199219,59558.148438,272500,585.449219
1230,2026-01-12,59450.500000,59541.101562,58864.199219,59217.250000,0,676.902344

In [8]:
banknifty = banknifty[['Date', 'Open', 'High', 'Low', 'Close', 'Range']]

In [9]:
banknifty

Price,Date,Open,High,Low,Close,Range
Ticker,,^NSEBANK,^NSEBANK,^NSEBANK,^NSEBANK,
0,2021-01-12,31834.681625,32397.573535,31725.481719,32338.625000,672.091816
1,2021-01-13,32546.221029,32683.119828,32147.876054,32574.271484,535.243774
2,2021-01-14,32526.320232,32718.567992,32441.971605,32519.371094,276.596387
3,2021-01-15,32508.522343,32544.422316,32043.976964,32246.425781,500.445352
4,2021-01-18,32274.775873,32441.123552,31650.533116,31811.380859,790.590435
...,...,...,...,...,...,...
1226,2026-01-06,59957.800781,60305.000000,59844.800781,60118.398438,460.199219
1227,2026-01-07,60039.699219,60065.398438,59760.648438,59990.851562,304.750000
1228,2026-01-08,59893.148438,60112.851562,59564.800781,59686.500000,548.050781
1229,2026-01-09,59558.148438,59739.648438,59154.199219,59251.550781,585.449219
1230,2026-01-12,59217.250000,59541.101562,58864.199219,59450.500000,676.902344

In [10]:
sensex = yf.download("^BSESN", period="5y", interval="1d")
sensex = sensex.reset_index()
sensex['Range'] = sensex['High'] - sensex['Low']
sensex = sensex[['Date', 'Open', 'High', 'Low', 'Close', 'Range']]
sensex

[*********************100%***********************]  1 of 1 completed

Price,Date,Open,High,Low,Close,Range
Ticker,,^BSESN,^BSESN,^BSESN,^BSESN,
0,2021-01-12,49228.261719,49569.140625,49079.570312,49517.109375,489.570312
1,2021-01-13,49763.929688,49795.191406,49073.851562,49492.320312,721.339844
2,2021-01-14,49432.828125,49663.578125,49182.371094,49584.160156,481.207031
3,2021-01-15,49656.710938,49656.710938,48795.789062,49034.671875,860.921875
4,2021-01-18,49061.218750,49122.230469,48403.968750,48564.269531,718.261719
...,...,...,...,...,...,...
1229,2026-01-06,85331.140625,85397.781250,84900.101562,85063.343750,497.679688
1230,2026-01-07,84620.398438,85075.992188,84617.492188,84961.140625,458.500000
1231,2026-01-08,84778.023438,84965.273438,84110.101562,84180.960938,855.171875
1232,2026-01-09,84022.093750,84406.218750,83402.281250,83576.242188,1003.937500
1233,2026-01-12,83435.312500,83962.328125,82861.070312,83878.171875,1101.257812

In [11]:
banknifty = banknifty.tail(1000)
sensex = sensex.tail(1000)

In [14]:
banknifty.to_csv("BankNifty_1000_Sessions.xlsx", index=False)
sensex.to_csv("Sensex_1000_Sessions.xlsx", index=False)